

/* Сбрасываем стили*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /*Общие стили для всего сайта*/

body {
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}

.goldenrod {
    background: goldenrod;
}

.cross {
    font-size: 40px;
    font-weight: bold;
}

 /*Стили для страницы регистрации*/

.login__page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login__page.hide {
    display: none;
}

.main__page.hide {
    display: none;
}

/* Из строчного делаем блочный. Вертикальное позиционирование*/
.form {
  border: 3px solid gainsboro;
  padding: 25px;
  border-radius: 5px;


}

.form__title {
    margin-bottom: 15px;
}

.form__login,
.form__password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px ;
}

.input  {

    width: 300px;
    height: 35px;
    border-radius: 5px;
    outline: 3px solid gainsboro;
    padding-left: 10px;
    border: none;
}


label {
    margin-bottom: 5px;
}

.login:focus,
.password:focus,
.login:hover,
.password:hover {
    outline: 3px solid lightblue;
    border: none;
}

.login.error,
.password.error {
    outline: 1px solid red;
}


.button {
    padding: 10px;
    border-radius: 5px;
    border:none;
    outline: 3px solid gainsboro;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
}

.button__submit {
    background: lightblue;
}

/* Стили для главной страницы */

.main__page {
    height: 100%;
}

.header {
    position: relative;
    background: url('./assets/images/background1.jpg') no-repeat;
    background-size: cover;
    padding: 470px 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;

}

.header__sidebar {
    position: fixed;
    top: 0;
}

.sidebar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 50px;
    font-size: 24px;
    flex-wrap: wrap;
    gap: 50px;
}

.site__name, .phone {
    text-align: center;

    font-weight: 600;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu__ul {
    gap: 60px;
}

li a:hover {
    color: goldenrod;
    cursor: pointer;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    gap: 20px;
}

.slogan__button {
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px 40px;
    background: goldenrod;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}


 /* == слайдер ==*/

.slider {
    height: 800px;
    position: relative;
}

.slider1 {
    background: url('./assets/images/slider/1.jpg') no-repeat;
    background-size: cover;
}

.slider2 {
    background: url('./assets/images/slider/2.jpg') no-repeat;
    background-size: cover;
}

.slider3 {
    background: url('./assets/images/slider/3.jpg') no-repeat;
    background-size: cover;
}

.slider__button {
    border: none;
    cursor: pointer;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.slider__button:first-child {
    left: 30px;
}

.slider__button:last-child {
    right: 30px;
}

/*== раздел наши тренера ===*/

.our-trainers {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.our-trainers__title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.our-trainers__photos {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.kolya img {
    max-width: 1000px;
}

.our-trainers__text {
    display: flex;
    gap: 100px;
    width: 1637px;
}

.our-trainers__text_dan {
    padding: 50px;
    width: 537px;
}


h2 {
    margin-bottom: 20px;
}

.our-trainers__text_ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: disc;
    margin: 20px;
}

/**=== Раздел наши услуги ==*/

.service {
    background: black;
    color: white;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.service__ul {
    font-weight: 600;
    font-size: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    list-style-type: disc;
    margin-bottom: 30px;
}

.service__ul li {
    font-size: 20px;
    margin-left: 20px;

}

/** Фотогралерея ==*/

.gallery {

    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

.gallery img {
    max-height: 720px;
    max-width: 520px;
}

/*=== Модальное окно ====*/

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

.modal__form {
    background: white;
    padding: 50px 35px;
    position: relative;
}

.modal__cross {
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.modal.hide {
    display: none;
}

/** == футер ==*/

.footer {
    background: black;
    padding: 30px 0;
    color: white;
}

/** медиа запросы */


@media (max-width: 1150px){
    .kolya img, .denis img {
        width: 100%;
    }
}

@media (max-width: 650px){
    .our-trainers {
        padding: 50px 0;
    }
    .slogan {
        font-size: 20px;
    }
    .slogan__button {
        font-size: 20px;
        padding: 10px;
    }
    .gallery {
        padding: unset;
        gap: unset;
        width: 100%;
    }
    .gallery img {
        width: 100%;
    }
    .our-trainers__text_kolya {
        padding-left: 10px;
    }
    .our-trainers__text_dan {
        width: unset;
    }
}









